.sections{
    height: auto;
    width: 97vw;
    margin: auto;
    margin-bottom: 2rem;
    background-color: var(--primary-color);
}
.heading{
    padding: 0.3rem;
    font-size: large;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
}
.toggleBtn {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  border: none;
  background-color: black;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
.genres{
    margin-top: 10px;
    width: 94vw;
    margin: auto;
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
  
}
.genres p:hover{

    background-color: green;
    cursor: pointer;
}